---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Thanks for Voting">
  <h1 class="font-bold leading-7 mb-8">Thanks a Million!</h1>
  <p>
    I can't thank you enough for taking the time to share your feedback. This
    newsletter will be better because of <em>you!</em>
  </p>
</Layout>
