@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  ul {
    @apply list-none m-0 p-0;
  }

  ul:not(.vote) li {
    @apply relative before:content-['\_'] before:absolute before:-left-4 leading-8 mb-4;
  }

  p {
    @apply mb-8 leading-8;
  }

  label:not(.no-style) {
    @apply font-bold uppercase tracking-widest text-sm block;
  }

  input[type="email"],
  input[type="text"] {
    @apply border-chromeWhite border-[3px] w-full font-mono font-bold px-6 h-16 focus:outline-none focus:border-orangeRed;
  }

  .button {
    @apply bg-chromeWhite center w-full font-bold tracking-widest uppercase text-sm py-6 hover:bg-orangeRed hover:text-white mb-11;
  }
}

@layer components {
  label.no-style { @apply cursor-pointer; }

  ul.vote {
    @apply pl-10;
    li:has(strong) { @apply pt-5 -indent-6; }
    li { @apply mb-3 -indent-4; }
    li input[type=checkbox] { @apply relative -left-2; }
  }

  table.charts-css td { @apply !p-3 !text-sm; }

  .results.bar {
    --color-1: #ed4d1d !important;
    --color-2: #bdc5ac !important;
    --color-3: #e6a22c !important;
    --color-4: #e9c99a !important;
    --color-5: #b9ccea !important;
    --color-6: #aff1ef !important;
  }

  .results.bar td:nth-child(1) { @apply !text-white; }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}
