---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Broken Comb Newsletter">
	<main>
		<p class="font-bold leading-7 mb-11">Covering a wide variety of topics on web design and development, and going deep on the most relevant.</p>
		<p>If you’re going to be successful in tech, you need a general understanding (wide) of how everything works. Then, gain expertise (deep) on specific concepts. Both are essential.</p>

		<h3 class="font-mono">In this weekly newsletter:</h3>
		<ul class="list-none p-5 m-0 mb-10">
			<li>Gain expert knowledge in a variety of topics</li>
			<li>Keep up to date with the latest trends & news in tech</li>
			<li>Feel empowered to make informed decisions</li>
			<li>Gain a competitive edge by being informed on what's happening in the industry</l></li>
		</ul>

		<form class="kwes-form" action="https://kwesforms.com/api/foreign/forms/e6Fy0wGm6U6oahUjCdL7">
			<div class="mb-8">
				<label for="fullName">Full Name</label>
				<input type="text" name="fullName" id="fullName"" rules="required" />
			</div>
			<div class="mb-10">
				<label for="email">Email Address</label>
				<input type="email" name="email" id="email" rules="required" />
			</div>
			<button
				class="bg-chromeWhite center w-full font-bold tracking-widest uppercase text-sm py-6 hover:bg-orangeRed hover:text-white"
				type="submit"
				role="button"
			>
				Go deep and wide
			</button>
		</form>
	</main>
</Layout>
