---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Broken Comb Newsletter">
	<main>
		<p class="font-bold leading-7 mb-11">Here, we cover a wide variety of topics on web design and development, and go deep on the most relevant.</p>
		<p>If you’re going to be successful in tech, you need a general understanding (wide) of how everything works. Then, gain expertise (deep) on specific concepts. Both are essential.</p>

		<h3 class="font-mono">In this weekly newsletter:</h3>
		<ul class="list-none p-5 m-0 mb-10">
			<li><strong>Gain expert knowledge in web development.</strong> Each week, we'll focus on a specific topic from TypeScript, to the latest JavaScript framework, to SVGs, to developer specific productivity tips and tricks.</li>
			<li><strong>Stay up to date with the latest tech news and trends.</strong> Also, Elon renamed Twitter?!</li>
			<li><strong>Feel empowered to make informed tech decisions.</strong> You can't make a decision, unless you have all the information you need. Our goal is to filter through the unnecessary cruft, presenting you with the most relevant information, in digestible chunks.</li>
			<li><strong>Gain a competitive edge by learning the best UI / UX practices.</strong> We'll dive into design, as well as, development. For better or worse, people make a snap judgement on your application based on what it looks like. This is your chance to get noticed quickly and elevate your work. 🦄</li>
		</ul>

		<form class="kwes-form" action="https://kwesforms.com/api/foreign/forms/e6Fy0wGm6U6oahUjCdL7">
			<div class="mb-8">
				<label for="fullName">Full Name</label>
				<input type="text" name="fullName" id="fullName"" rules="required" />
			</div>
			<div class="mb-10">
				<label for="email">Email Address</label>
				<input type="email" name="email" id="email" rules="required" />
			</div>
			<button
				class="bg-chromeWhite center w-full font-bold tracking-widest uppercase text-sm py-6 hover:bg-orangeRed hover:text-white"
				type="submit"
				role="button"
			>
				Go deep and wide
			</button>
		</form>
	</main>
</Layout>
