---
import Wide from "../layouts/Wide.astro"
import "../styles/charts.css";
---

<Wide title="Voting Results">

  <h1 class="font-bold leading-7 mb-8">Survey Results</h1>
  <div class="max-w-[600px]">
    <p>Thanks a million for taking the time to fill out the survey!<br />
      If you're interested, here are the results.</p>
  </div>

  <div class="w-full">
    <h3 class="font-bold pb-1 leading-7 text-sm">Creating Content</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.55"> Writing for Dev / with AI </td>
      <td  style="--size: 0.3"> Creating Courses </td>
      <td  style="--size: 0.18"> Speaking </td>
    </tr>
  </table>

  <h3 class="pt-10 font-bold pb-1 leading-7 text-sm">Building a Business</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.51"> Making Money Online </td>
      <td  style="--size: 0.35"> Product Journey </td>
    </tr>
  </table>

  <h3 class="pt-10 font-bold pb-1 leading-7 text-sm">CSS</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.46"> CSS Grid vs Flexbox </td>
      <td  style="--size: 0.53"> Mastering CSS </td>
      <td  style="--size: 0.56"> CSS Properties </td>
    </tr>
  </table>

  <h3 class="pt-10 font-bold pb-1 leading-7 text-sm">Productivity and Workflow</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.61"> Advanced git Workflows </td>
      <td  style="--size: 0.48"> Goals / Planning </td>
      <td  style="--size: 0.58"> Automation </td>
      <td  style="--size: 0.56"> Secrets of the Terminal </td>
      <td  style="--size: 0.58"> Code Editor </td>
      <td  style="--size: 0.36"> My Favorite Gear </td>
    </tr>
  </table>

  <h3 class="pt-10 font-bold pb-1 leading-7 text-sm">JavaScript</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.53"> Testing </td>
      <td  style="--size: 0.61"> TypeScript 101 </td>
      <td  style="--size: 0.36"> Frameworks </td>
      <td  style="--size: 0.38"> Array Methods </td>
      <td  style="--size: 0.47"> RSC in 2025 </td>
      <td  style="--size: 0.48"> React Hooks </td>
    </tr>
  </table>

  <h3 class="pt-10 font-bold pb-1 leading-7 text-sm">Development</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.5"> Accessibility </td>
      <td  style="--size: 0.46"> Component Library </td>
      <td  style="--size: 0.56"> Developer Tools </td>
      <td  style="--size: 0.5"> SVGs </td>
      <td  style="--size: 0.36"> Headless CMSes </td>
    </tr>
  </table>

  <h3 class="pt-10 font-bold pb-1 leading-7 text-sm">Marketing</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.5"> Personal Brand </td>
      <td  style="--size: 0.25"> Market Fit </td>
      <td  style="--size: 0.23"> LEAN </td>
    </tr>
  </table>

  <h3 class="pt-10 font-bold pb-1 leading-7 text-sm">Design</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.6"> Design Process </td>
      <td  style="--size: 0.48"> UX </td>
      <td  style="--size: 0.43"> UI </td>
      <td  style="--size: 0.33"> User Research </td>
    </tr>
  </table>

  <h3 class="pt-10 font-bold pb-1 leading-7 text-sm">Professional Skills</h3>
  <table class="results charts-css bar w-full multiple">
    <tr>
      <td  style="--size: 0.45"> Career Planning </td>
      <td  style="--size: 0.65"> Learning New Things </td>
      <td  style="--size: 0.36"> Leadership </td>
      <td  style="--size: 0.53"> Real World Dev Projects </td>
    </tr>
  </table>

</div>

</Wide>
