---
import Wide from '../layouts/Wide.astro'
---

<Wide title="Sponsoring">
  <p>
    I'm open to sponsoring opportunities. If you're interested in sponsoring The Broken Comb, please contact me at <a href="mailto:hello@thebrokencomb.com">hello@thebrokencomb.com</a>.
  </p>
</Wide>
