---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Vote on Broken Comb Content">
	<main>
    <h1 class="font-bold leading-7 mb-8">I need your help!</h1>

    <p>
      <strong>I want to make sure that the things I'm writing about are the things you want to read about.</strong> So, I'm asking for your help. Please mark the topics you'd like to see in the newsletter. You can check as many as you'd like. If you have other ideas, please add them <a href="#bottom" class="border-b-1 border-orangeRed hover:text-orangeRed">at the bottom of the form</a>.
    </p>

    <form method="post" action="https://kwesforms.com/api/foreign/forms/eHiwCruSylpTO0QBsHyM" class="kf-form" data-kw-redirect="https:brokencomb.dev/thanks">
      <fieldset data-kw-group>
      <ul class="vote mb-10">
        <li><strong>Creating Content</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Writing for Dev / Writing with AI" /> Writing for Dev / Writing with AI</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Creating Courses" /> Creating Courses</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Speaking at Conferences" /> Speaking at Conferences</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Starting a Podcast" /> Starting a Podcast</label></li>

        <li><strong>Building a Business</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Making Money Online" /> Making Money Online</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Product Journey" /> Product Journey</label></li>

        <li><strong>CSS</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="CSS Grid vs Flexbox" /> CSS Grid vs Flexbox</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Mastering CSS Grid" /> Mastering CSS Grid</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="The Latest and Greatest CSS Properties" /> The Latest and Greatest CSS Properties</label></li>

        <li><strong>Productivity and Workflow</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Advanced Git Workflows - Rebasing, Cherry-picking, Branch Strategies" /> Advanced Git Workflows - Rebasing, Cherry-picking, Branch Strategies</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Productivity / Goals / Planning" /> Productivity / Goals / Planning</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Automation" /> Automation</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Secrets of the Terminal" /> Secrets of the Terminal</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Making the Most of Your Code Editor" /> Making the Most of Your Code Editor</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="My Favorite Gear" /> My Favorite Gear</label></li>

        <li><strong>JavaScript</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Testing Modern Web Apps - Component Testing, E2E, Integration" /> Testing Modern Web Apps - Component Testing, E2E, Integration</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="TypeScript 101" /> TypeScript 101</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="What JavaScript framework is the best?" /> What JavaScript framework is the best?</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="JavaScript Array methods" /> JavaScript Array methods</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="React Server Components in 2025" /> React Server Components in 2025</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="React Hooks / Building a React Library to Take from Project to Project" /> React Hooks / Building a React Library to Take from Project to Project</label></li>

        <li><strong>Development</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Accessibility for the Rest of Us" /> Accessibility for the Rest of Us</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Building a Component Library" /> Building a Component Library</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Browser Developer Tools" /> Browser Developer Tools</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="SVGs for nOObs" /> SVGs for nOObs</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Deep Dive on Headless CMSes" /> Deep Dive on Headless CMSes</label></li>

        <li><strong>Marketing</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Personal Brand / Marketing for Developers" /> Personal Brand / Marketing for Developers</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Finding Product Market Fit" /> Finding Product Market Fit</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="LEAN Marketing" /> LEAN Marketing</label></li>

        <li><strong>Design</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="What does the design process look like? (dev edition)" /> What does the design process look like? (dev edition)</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="UX Issue" /> UX Issue</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="UI Issue" /> UI Issue</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="User Research Issue" /> User Research Issue</label></li>


        <li><strong>Professional Skills</strong></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Career Planning" /> Career Planning</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Learning New Things / Staying up to Date / Techniques for Learning" /> Learning New Things / Staying up to Date / Techniques for Learning</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Leadership / Managing Devs / Climbing the Ladder" /> Leadership / Managing Devs / Climbing the Ladder</label></li>
        <li><label class="no-style"><input type="checkbox" name="idea" value="Managing a Real World Dev Project" /> Managing a Real World Dev Project</label></li>
      </ul>
      </fieldset>

      <label id="bottom" for="more">More Ideas?</label>
      <p class="mb-2">Have you an idea that you didn't see listed? I'd love to hear!</p>
      <textarea name="more" id="more" class="w-full min-h-[100px] mb-10 border-2 border-chromeWhite p-2"></textarea>

      <button class="button" type="submit">Submit</button>
    </form>
  </main>
</Layout>