---
const { href, className } = Astro.props;
---

<div class="text-center link-button-wrapper">
  <a
    href={href}
    class={`link-button
      ${className === "secondary" ? "secondary" : ""}
      ${className === "tertiary" ? "tertiary" : ""}
    `}
  >
    <slot />
  </a>
</div>
